modules = ["nodejs-20", "web"]
run = "cd server && npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd server && npm run start"]

[[ports]]
localPort = 4000
externalPort = 3000

[[ports]]
localPort = 46571
externalPort = 80
